<!-- Footer -->
<footer class="page-footer font-small blue-grey darken-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright -
        <a href="https://dronenation.fr"> DroneNation.fr</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->